/*
	Description:BBC Radio Programme
	Developer: Iweala Ebere
*/
.navbar{
	border-radius: 0px !important;
	padding: 10px;
}
.excerpet{
	border-bottom: 1px solid #d6d9dc;
}
.ui-autocomplete-loading {
			background-image: url('../img/loading.gif');
			background-repeat: no-repeat;
			background-position: right; 
		}

.margin10{ margin-top: 10px;}
.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover,
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none
}
		/* autocomplete adds the ui-autocomplete-loading class to the textbox when it is _busy_, use general sibling combinator ingeniously */
		#autocomplete.ui-autocomplete-loading ~ .loading {
			display: inline-block;
		}
		.ui-autocomplete .a-title {
			margin-right: 1em;
			font-size: larger;
			padding: 4px;
		}
		.ui-autocomplete .a-desc {
			display: block;
			font-size: smaller;
			padding: 4px;
		}
		
		.ui-autocomplete .rt-bar span {
			display: block;
			height: 1em;
		}
		